*{
    margin: 0;
}

body{
    background-color: #d4d4d4;
}

.topbar{
    width: 100%;
    height: 70px;
    background-color: #FFFAFA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    box-shadow: #444 0 1px 10px 0;
}

.logo{
    font-size: 30px;
    font-family: fantasy;
    font-weight: bold;
}
.logo > a {
    text-decoration: none;
    color: #444;
}

.search-box-form{
    width: 790px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-input, .search-box-button{
    height: 45px;
    outline: none;
    background-color: #dedede;
}

.search-box-input{
    width: 700px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 40px;
    border: 0;
    font-size: 20px;
    font-weight: lighter;
}

.search-box-button{
    width: 45px;
    border-radius: 50%;
    border: 0;
    margin-left: 20px;
    cursor: pointer;
}

.user-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-links > a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
}

.group-profile-data{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    padding: 5px 10px 5px 12px;
    border-radius: 10px;
    height: 50px;
}

.group-profile-data > .nickname{
    order: 1;
    margin: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.round-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.leftbar{
    order: 1;
    width: 165px;
    min-width: 165px;
    height: calc(100vh - 70px);
    background-color: #fffafa;
    order: -1;
    position: fixed;
    bottom: 0px;
    box-shadow: #444 1px 10px 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-box-options{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    background-color: #fff;
    box-shadow: #444 1px 0 1px 1px;
    cursor: pointer;
}

.group-box-options > .icon{
    margin-left: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-box-options > .text{
    width: 100px;
    text-align: center;
    margin-right: 5px;
}

.content{
    margin: 80px  10px 10px 175px;
}