{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'videos/css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">

    {% block head %}
    {% endblock head %}

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

    {% block topbar %}

    <div class="topbar">

        <div class="logo">
            <a href="{% url 'index' %}"><h1>Sherry</h1></a>
        </div>

        <form action="{% url 'search' %}" method="POST" class="search-box-form">

            {% csrf_token %}

            <input type="search" name="in_search" class="search-box-input">

            <button type="submit" class="search-box-button"> Search </button>
        </form>


        {% if user.is_authenticated %}

            <div class="user-section">
                
                <div class="profile-links">
                    <a href="{% url 'logout' %}"> Profile </a>
                    <a href="{% url 'logout' %}"> Logout </a>
                </div>
        
                <div class="group-profile-data">
                    <div class="nickname">{{user.profile.nickname}}</div>
                    <img src="{{user.profile.image.url}}" class="round-profile-img">
                </div>

            </div>

        {% else %}

            <div class="profile-links">
                <a href="{% url 'login' %}"> Login </a>
                <a href="{% url 'register' %}"> Sign up </a>
            </div>

        {% endif %}

    </div>

    {% endblock topbar %}

    <div class="container">

        {% block leftbar %}
            {% if user.is_authenticated %}
                <div class="leftbar">

                    {% for playlist in playlists %}

                    <a href="{% url 'playlist' playlist.id %}">

                    {{playlist.titile}}</a>

                    {% endfor %}
                </div> 
            {% endif %}
        {% endblock leftbar %}
    
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>