{% extends 'videos/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'videos/css/index.css' %}">
{% endblock head %}

{% block title %}
    Sherry
{% endblock %}

{% block content %}
    {% for video in videos %}

    <a href="{% url 'video' video.id %}">{{video.titile}}
    <img src="{{video.thumbnail.url}}">
    <img src="{{video.author.image.url}}">
    {{video.author.nickname}}
    {{video.date}}
    {{video.views}} </a>

    {% endfor %}

{% endblock %}