{% extends 'videos/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'videos/css/video.css' %}">
{% endblock head %}


{% block title %}
    video title
{% endblock %}

{% block content %}

    <div class='single-video'>

        <div class="left-side">
            <video controls class='video-player'>
                <source src="{{video.video.url}}" type="video/mp4">
            </video>

            <div class="video-title">
                {{video.title}}
            </div>
            <div class="video-tags">
                {% for tag in tags %}
                    <div class="video-tag">#{{tag}}</div>
                {% endfor %}
            </div>
        </div>

        <div class="right-side">
            <div class='author-box'>
                <img class="author-picture" src="{{video.author.image.url}}"></img>
                <div class="author-nickname">{{video.author.nickname}}</div>
            </div>
            <div class="group-box">
                <div id="likes">{{video.likes}}</div>
                <div id="dislikes">{{video.dislikes}}</div>
            </div>
            <div class="group-box">
                <div class="video-data"></div>{{video.date}}
                <div class="video-views"></div>{{video.views}}
            </div>
            <div class="video-description">
                {{video.description}}
            </div>
        </div>

    </div>

    {% csrf_token %}
    <button id="rating-like">LIKE</button>
    <button id="rating-dislike">DISLIKE</button>
    <button id="share">SHARE</button>
    <button id="watch-later">Save video</button>


    <div class="comments-box-system">

        <div class="comment-send">
            <img src="{{user.profile.image.url}}" class="comment-sender-picture">
            <form id="comment-form">
                {% csrf_token %}
                <input class="comment-content" type="text" id="comment-field" required>
                <button class="comment-button" type="submit">Wyślij</button>
            </form>
        </div>
    
        <div id="comments" class="comments-box" >
    
            {% for comment in comments %}
                <div class="single-comment">
                    <img src="{{comment.author.image.url}}" class="comment-sender-picture">
                    <h2>{{comment.author.nickname}}</h2>
                    <h2>{{comment.content}}</h2>
                </div>
            {% endfor %}
    
        </div>
    </div>

    

    

    
    <script src="{% static 'videos/js/video.js' %}"></script>
{% endblock %}