{% extends 'videos/base.html' %}

{% block title %}
    video title
{% endblock %}

{% block content %}
    <video width="320" height="240" controls>
        <source src="{{video.video.url}}" type="video/mp4">
    </video><br>
    title: {{video.title}}<br>
    desc: {{video.description}}<br>
    data: {{video.date}}<br>
    like: {{video.likes}}<br>
    dislike: {{video.dislikes}}<br>
    views: {{video.views}}<br>
    tags:  
    {% for tag in tags %}
        {{tag}}
    {% endfor %}

    <br>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="like" value="like">LIKE</button>
        <button type="submit" name="dislike" value="dislike">DISLIKE</button>
    </form>

    <br>

    <h2>Comments</h2>

    {% for comment in comments %}

        <img src="{{comment.author.image.url}}">
        <h2>{{comment.author.nickname}}</h2>
        <h2>{{comment.content}}</h2>

    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <button type="submit" name="comment" value="comment">SEND</button>
    </form>

{% endblock %}