{% extends 'videos/base.html' %}

{% block title %}
    video title
{% endblock %}

{% block content %}
    <video width="320" height="240" controls>
        <source src="{{video.video.url}}" type="video/mp4">
    </video><br>
    title: {{video.title}}<br>
    desc: {{video.description}}<br>
    data: {{video.date}}<br>
    like: {{video.likes}}<br>
    dislike: {{video.dislikes}}<br>
    views: {{video.views}}<br>
    tags:  {{video.tags.name}}

    <br>

    <form method="POST">
        {% csrf_token %}
        <button name="like" type="submit">LIKE</button>
        <button name="dislike" type="submit">DISLIKE</button>
    </form>

    <br>

    <h2>Comments</h2>

    {% for comment in comments %}

        <h6>{{comment.user.username}}</h6>
        <h6>{{comment.content}}</h6>

    {% endfor %}

{% endblock %}