{% extends "loginSystem/base.html" %}

{% block content %}

<h1>Profile</h1>

<ul>
    <li>
        {{ user.username }}
    </li>
    <li>
        {{ user.profile.nickname }}
    </li>
    <li>
        {{ user.email }}
    </li>
    <li>
        {{ user.profile.description }}
    </li>
    <li>
        {{ user.profile.picture.url }}
    </li>
</ul>
<img src="{{ user.profile.picture.url }}" alt="">

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{u_form}}

    {{p_form}}

    <button type="submit">Save</button>
</form>




{% endblock %}